<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fixture SA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="prueba-style .css">
</head>
<body>
    <main>
        <div class="container">
            <div class="abs-center">
                <form name="frmContacto" method="POST" action="form.php" class="border p-3 form">
                    <div class="container-fluid">
                        <img src="iconos/pato-fondo-transparente.gif" alt="Logo" class="d-inline-block align-text-top">
                    </div>
                    <h2>Inicio de Sesión</h2>
                    <div class="form-group">
                        <label class="control-label">Nombre de Usuario</label>
                        <input type="text" name="nomUsuario" class="form-control">
                    </div>
    
                    <div class="form-group">
                        <label for="" class="control-label">Contraseña</label>
                        <input type="password" name="passwrd" class="form-control">
                    </div>
                    <div>
                        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                        <p>¿No tiene una cuenta? <a href="">Regístrese</a></p>
                    </div>
                    <!-- br -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success left">Iniciar Sesión</button>
                    </div>
                  </form>
            </div>
        </div>
    </main>
</body>
</html>